<body>
  <h1>Make your form here</h1>

  <form class="pirates" action="/show" method="post">
    <label for="pirate_name">Pirate Name:</label><input type="text" name="pirate[name]" id="pirate_name">
    <label for="pirate_weight">Pirate Weight:</label><input type="text" name="pirate[weight]" id="pirate_weight">
    <label for="pirate_height">Pirate Height:</label><input type="text" name="pirate[height]" id="pirate_height">

    <label for="pirate_name">pirate[ships[][name]:</label><input type="text" name="pirate[ships][][name]" id="ship_name_1">
    <label for="pirate_weight">pirate[ships[][type]:</label><input type="text" name="pirate[ships][][type]" id="ship_weight_1">
    <label for="pirate_height">pirate[ships[][booty]:</label><input type="text" name="pirate[ships][][booty]" id="ship_height_1">

    <input type="submit" name="submit" id="submit">

  </form>
</body>
