<h1>Make your form here</h1>

<form class="pirates" action="/show" method="post">
  <label for=""><input type="text" name="" value=""></label>

  <input type="submit" name="submit" id="submit">

</form>
