<h1>Make your form here</h1>

<form class="pirates" action="/show" method="post">
  <label for="">Pirate Name:</label><input type="text" name="" id="">

  <input type="submit" name="submit" id="submit">

</form>
